.section-heading
  margin: 0
  padding: 0
  font-weight: 700
  padding-bottom: 10px

.heading-underline
  width: 50px
  height: 5px
  background: #FF4C2E
  display: block

.section-text
  margin: 0
  padding: 7% 0
  font-size: 27px
  font-weight: 500

.text-container
  padding: 5%
  display: flex
  flex-direction: column

.heading
  display: flex
  justify-content: space-between
  align-items: center

  .more
    font-size: 16px
    font-weight: bold
    text-transform: uppercase

    a
      transition: all 0.2s ease

      &:hover
        color: #FF4C2E

      .fa-arrow-right
        padding-left: 10px



// Mobile Flexbox layout
// Mobile First
.flex-layout
  display: flex
  flex-wrap: wrap
  width: 100%
  height: auto

  .flex-col-6:nth-child(2)
    order: -1

  .flex-col-6
    width: 100%

    // FIRST HALF
    .shoutout-box
      height: 340px
      background: honeydew
      background: url('/assets/img/city.jpg') no-repeat center center
      background-size: cover
      outline: 10px solid RGBA(40, 40, 48, 0.50)
      outline-offset: -10px

      .shoutout-overlay
        background: #28223B
        opacity: 0.7
        height: 340px
        width: 100%
        position: absolute
        z-index: 1

      .shoutout-logo
        align-self: center

        .shoutout-logo-img
          width: 300px
          position: relative
          z-index: 2

    .recent-posts
      height: 340px
      background: white

    // SECOND HALF
    .about-box
      height: 680px
      background: white

  .flex-col-12
    width: 100%
    order: 3
    border-top: 10px solid #FF4C2E

    .text-snippet
      background: white
      text-align: center
      padding: 5% 0





// END MOBILE
// Tablet Flexbox layout
// Start Tablet

// END TABLET
// DESKTOP Flexbox layout
@media (min-width: 1024px)

  .flex-layout .flex-col-6:nth-child(2)
    order: 2

  .flex-layout .flex-col-6
    width: 50%

  .flex-layout .flex-col-6 .shoutout-box .shoutout-overlay
    width: 50%

  .flex-layout .flex-col-6 .recent-posts
    border-right: 10px solid #FF4C2E

  .section-text
    font-size: 29px



// Flex secton

.text-container
  padding: 5%

.flex-container
  justify-content: center
  height: 100%

.flex-section-parent, .flex-container
  display: flex
  flex-wrap: wrap
  width: 100%

.flex-child-half
  width: 50%
  height: auto

  // Shoutout Section flex
  .shoutout
    background: #F3EB3E
    height: 340px

  #shoutout1
    background: url('/assets/img/city.jpg') no-repeat center center
    background-size: cover


  .recent-posts
    height: 340px
    background: #fff
    border-right: 10px solid #FF4C2E

    // End Shoutout Section flex

  .text
    background: #fff
    height: 680px

.flex-child-third
  width: 33.33333333333%
  height: auto

  .featured-work
    height: 270px
    background: green
    border-top: 10px solid #FF4C2E

  #featured-work-1
    background: url('/assets/img/bendesk2.png') no-repeat center center
    background-size: cover

  #featured-work-2
    background: url('/assets/img/bendesk.png') no-repeat center center
    background-size: cover












.bar
  height: auto
  position: absolute
  z-index: 2
  width: 100%
  top: 0
  left: 0
  display: flex
  justify-content: space-between
  align-items: center

  .logo
    padding-left: 25px
    padding-top: 40px
    padding-bottom: 40px

  nav
    color: white
    font-size: 18px
    font-weight: 500
    text-transform: uppercase
    padding-right: 25px

    ul
      list-style: none

      li
        display: inline
        margin: 0 15px

.gigantic, .hero
  height: 100%
  width: 100%
  position: relative

#homepage-big
  background: url('/assets/img/bendesk.png') no-repeat center center
  background-size: cover

.gigantic--overlay
  background-color: #28223B
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  z-index: 1
  opacity: 0.7

.container-flex
  max-width: 960px
  padding: 0 25px
  margin: auto
  height: 100%
  position: relative
  z-index: 2
  text-align: center

.container
  padding: 0 25px

  h1
    margin: 0
    padding-top: 30px
    font-size: 40px
    font-weight: 700
    padding-bottom: 10px

  p
    margin: 0
    font-size: 32px
    font-weight: 500
    padding-bottom: 30px

  .line
    height: 5px
    width: 140px
    display: block
    background: RGBA(255, 76, 46, 1.00)
    margin-bottom: 40px

.flex
  display: flex
  height: 100%

.center
  justify-content: center
  align-items: center

.bold
  font-weight: 700
  color: white
  margin: 0

.smallbig
  font-size: 24px
  color: white
  font-style: italic
  letter-spacing: 1px


.left--overlay
  background-color: #28223B
  height: 450px
  width: 50%
  position: absolute
  left: 0
  z-index: 1
  opacity: 0.7

.split
  height: 450px
  background: white

  .right
    position: absolute
    float: right
    right: 0
    width: 50%
    height: 100%
    background: white

  .left
    position: relative
    float: left
    left: 0
    top: 0
    width: 50%
    height: 100%
    background: url('/assets/img/city.jpg') no-repeat center center
    background-size: cover
    outline: 20px solid RGBA(40, 40, 48, 0.50)
    outline-offset: -20px

    .blog
      background: white
      height: 100%
      border-right: 20px solid RGBA(255, 76, 46, 1.00)


    .flex
      justify-content: center

      img
        position: relative
        z-index: 2


.blog
  width: 50%
  float: left
  top: 0
  left: 0
  background-color: white
  outline: 10px solid RGBA(40, 44, 52, 0.10)
  outline-offset: -10px
  height: 100%
  position: relative

.post
  margin-bottom: 20px
  border: 5px solid RGBA(40, 44, 52, 0.10)
  background: #eee
  display: flex
  justify-content: space-between
  align-items: center

  h3
    font-size: 28px
    padding-bottom: 10px
    margin-left: 20px
    border-bottom: 3px solid RGBA(255, 76, 46, 1.00)

.meta
  display: flex
  justify-content: center

  .date, .cat
    color: white
    text-align: center
    font-weight: 700
    font-size: 22px
    display: flex
    justify-content: center
    align-items: center

  .date
    background: RGBA(255, 76, 46, 1.00)
    height: 120px
    width: 60px
  .cat
    background: RGBA(236, 74, 46, 1.00)
    height: 120px
    width: 60px
